.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  border: 2px solid black;
}
.table thead th{
  border: 2px solid black;
}
.table tbody th, td{
  border: 2px solid black;
}
p{
  border-bottom: 2px solid black;
}


.fileinput {
  max-height: 2.35rem !important;
  min-height: 2.35rem !important;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  position: relative;
  z-index: 999;
}
.inputfile {
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.pagination-container{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-size: 1.2rem;
  gap: 25px;
}
.pagination-container .page-num{
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  text-decoration: none;
}
.pagination-container .page-num:hover{
  background-color: aquamarine;
  color:white;
}

.pagination-container .active-page{
  background-color: aquamarine;
}